version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres-test
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: taxool-db
      DB_HOST: db
      DB_NAME: taxool-db
    ports:
      - "5432:5432"
  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=dev
